@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  border: 3em solid darkcyan;
  a {
    text-decoration: none;
  }


  ul {
    display: flex;
    justify-content: space-between;
 
  }
  
  header {
    height: 10em;
    width: 100%;
    background-color: white;

    .sea {
      width: 100%;
      height: 18em;
      border-top: 0.3em solid darkcyan;
      border-bottom: 0.3em solid darkcyan;
    }

    nav {
      display: flex;
      justify-content: space-between;
      
    
      .name {
        color: blue;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        padding-left: 2em;
      }

      .diamond {
        width: 11em;
        padding-left: 5em;
        height: 5em;
      }

      .navigation {
        li {
        text-decoration: none;
        list-style-type: none;
        padding-right: 3em;
        padding-top: 2.2em;
        color: darkcyan;
        font-size: 1.4em;
        &:hover {
          color: chartreuse;
        }
        a:hover{
          color: greenyellow;
        }
        }
      }
        
    

      .sun {
        width: 5em;
        height: 6em;
        margin-top: 2em;
        margin-right: 3em;
      }
      .english {
        width: 1.2em;
        height: 1.2em;
        margin-top: 8.8em;
        margin-left: 1em;
        border: 0.09em solid black;
      }
      .flag {
        width: 1.2em;
        height: 1.2em;
        margin-left: 2em;
        margin-top: 8.8em;
        border: 0.09em solid black;
      }
      .stars {
        padding-left: 5em;
        padding-bottom: 1em;
        color: black;
      }
    }
  }

  .ekstri {
    display: block;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    color: darkcyan;
    border-top: 2.5em solid darkcyan;

    .uslugi {
      display: block;
      list-style-type: square;
      line-height: 1.5;
      font-size: 20px;
    }
    .titleuslugi {
      font-size: 1.5em;
      margin-left: 4em;
      margin-bottom: 1.2em;
      justify-content: center;
    }

    .socialnimreji {
      list-style-type: none;
      font-size: 3.5em;
      color: darkcyan;
    }

    .instagram {
      padding-left: 1em;
    }
    .linkedin {
      padding-left: 1em;
    }
    .mreji {
      font-size: 1.5em;
    }

    .kntakti {
      font-size: 1.5em;
      margin-top: 2em;
      text-align: center;
    }
    .contacts {
      display: block;
      list-style-type: none;
      line-height: 1.5;
      font-size: 1.2em;
      margin-top: 2em;
      margin-bottom: 3em;
    }
  }
}

