@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  padding: 0px;
  margin: 0px;
  border: 3em solid darkcyan;
}
.name {
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 2em;
}

.diamond {
  width: 11em;
  padding-left: 6em;
  height: 5em;
}

.navigation > li {
  text-decoration: none;
  list-style-type: none;
  padding-right: 3em;
  padding-top: 2.2em;
  color: darkcyan;
  font-size: 1.4em;
}

.sea {
  width: 100%;
  height: 18em;
  border-top: 0.3em solid darkcyan;
  border-bottom: 0.3em solid darkcyan;
}

header {
  height: 10em;
}

.sun {
  width: 5em;
  height: 6em;
  margin-top: 2em;
  margin-right: 3em;
}

nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  justify-content: space-between;
}
.english {
  width: 1.2em;
  height: 1.2em;
  margin-top: 8.8em;
  margin-left: 1em;
  border: 0.09em solid black;
}
.flag {
  width: 1.2em;
  height: 1.2em;
  margin-left: 2em;
  margin-top: 8.8em;
  border: 0.09em solid black;
}

header {
  width: 100%;
  background-color: white;
}

.name2 {
  color: darkcyan;
  text-align: center;
  padding: 14em;
}

.container {
  margin-top: -317px;
  display: flex;
  padding: 3em;
  font-size: 20px;
  line-height: 1.5;
  color: darkcyan;
}

.ekstri {
  display: block;
}

.frontgalery {
  display: flex;
}

.snimki {
  width: 3em;
  width: 30em;
  height: 15em;
  border: 0.2em solid black;
  padding: 0.4em;
}
.stars {
  padding-left: 5em;
  padding-bottom: 1em;
  color: black;
}
.frontgalery {
  display: flex;
  justify-content: space-around;
  border-top: 3em solid darkcyan;
}
.listhotel {
  padding-left: 9em;
}
.hotoffer {
  padding-left: 9em;
}
.footer {
  display: flex;
  justify-content: space-around;
  color: darkcyan;
}
.uslugi {
  display: block;
  list-style-type: square;
  line-height: 1.5;
  font-size: 20px;
}
.titleuslugi {
  font-size: 1.5em;
  margin-left: 4em;
  margin-bottom: 1.2em;
  justify-content: center;
}

.socialnimreji{
list-style-type: none;
font-size: 3.5em;
color: darkcyan;
}
.instagram{
  padding-left: 1em;
}
.linkedin{
  padding-left: 1em;
}
.mreji {
  font-size: 1.5em;
}
.kntakti{
  font-size: 1.5em;
  margin-top: 2em;
  text-align: center;
}
.contacts {
  display: block;
  list-style-type: none;
  line-height: 1.5;
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 3em;
}
.map {
  width: 32em;
  height: 21em;
  border: 5px solid darkcyan;
}
.address {
  font-size: 1.3em;
  color: darkcyan;
  font-weight: bold;
  margin-right: 6em;
  margin-top: 3em;
  line-height: 1.5;
}
.cardcontainer {
  margin-top: 335px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5em;
}
.contact {
  margin-top: 3em;
  padding-top: 13em;
  text-align: center;
  padding-bottom: 2em;
  color: darkcyan;
}
.cont {
  
}

.pichotel {
  width: 28em;
  height: 15em;
  border: 3px solid black;
  padding: 0.6em;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
  margin-top: 3em;
}
.hgalery {
  color: darkcyan;
  display: flex;
  justify-content: center;
  margin-top: 15em;
}
.secondsection {
  display: flex;
  justify-content: space-around;
}

